<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TodolistConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=TodolistConnection;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<entityFramework>
		<providers>
			<provider
			  invariantName="System.Data.SqlClient"
			  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
