<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Entity Framework Configuration -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Application Settings -->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<!-- Compilation Settings -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<!-- Entity Framework Configuration -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=.;Database=YourDatabase;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<!-- WCF Configuration -->
	<system.serviceModel>
		<services>
			<service name="WcfServiceSearchSuggestionBox.Service1">
				<!-- Endpoint for Basic HTTP Binding -->
				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  contract="WcfServiceSearchSuggestionBox.IService1" />

				<!-- Endpoint for Metadata Exchange -->
				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />

				<!-- Host Settings -->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:51307/Service1.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Metadata and Debugging -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<!-- Web Server Settings -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

	<!-- Diagnostics for Debugging -->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="wcf_trace.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
