<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Win32.SystemEvents" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="8.1.2" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="TopShelf.ServiceInstaller" version="4.3.0" targetFramework="net48" />
  <package id="Unity" version="5.11.10" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net48" />
  <package id="Unity.Wcf" version="5.11.1" targetFramework="net48" />
</packages>